.about-container .left-about p{
    padding-left: 0;
}
@media only screen and (max-width: 600px) and (min-width: 400px)  { 
    header{
        padding: 0 !important;
        margin: 5rem 0rem 0rem;
    }

    body{
        padding-left: 0;
        align-items: center; 
        
    }

    
    .theme-btn{
        width: 50px;
        height: 50px;
    }
  
    .cat_sit{
        visibility: collapse;
    }
    .cat_paws{
        visibility: collapse;
    }
    .starry_sky{
        width: 300%;
        left: -24rem;
    }
    
    

   //nav 
    nav {
        z-index: 3;
        width: 100%;
        position: fixed;
      
        transform: translateY(0);
    }
    
    .kitty{
        display: none;
        visibility: none;
    }
    .nav.open{
        width: 100%;
    }
    .nav .fa-circle-arrow-right {
        font-size: 3rem;
        
        left: 30%; 
        
    }

    .nav-social i{
        font-size: 2rem;
    }
    .nav ul{
        
        left: 0;
        top: 0;
        margin: 20vh 6vh;
        width: 60vh;
        height: 80vh;
        i{
            font-size: 4vh;
        } 
        li{
            width: 80%;
            height: 10vh;
            font-size: 5vh;
        }
    }
    .nav.close{
       left: -30%;
       
    }
    
    .nav.close .fa-circle-arrow-right {
        display: flex;
        position: absolute;
        font-size: 5rem;
        left: 200%;
      
    } 
    
    .nav.close ul li i{
        opacity: 0;
        
    }
    .nav.close ul{
        visibility: collapse; 
    }


    //name tag
   .section-home .span{
        border: 2px solid var(--color-green2);
        letter-spacing: 4px;
        padding: 10px 30px;
        
   }
    .pp{
        height: 20vh;
        .hi{
            width: 170vh;
            height: 0vh;
            display: absolute;
        }
        .text{
            width: 40vh;
            height: 30vh;
        } 
   }
    .scrolldown{
        align-self: center;
        text-align: center;
        align-items: center;
    }
//About section
 .section-about{  
    grid-template-columns: repeat(1 1fr);
    width: 100%;
    padding: 3rem 1.20rem 9rem;
   
    .left-about{
        padding-right: 0;
        p{
            padding-left: 0;
        }
    }
    
    .work{ padding-bottom: 1rem;

     .rowb{
        align-items:center;
        grid-template-columns: repeat(1, 1fr);
        text-align:left;
        padding: 0 0;
        border-radius: 10px;
        grid-gap: 1rem;
        div.media{ 
            display: grid;
            grid-column: div;
            width: 90%;
            height: 90%;
            grid-template-columns: 20% 80% repeat(2, 1fr);
          
            .media-object{
                align-items: center;
                width: 30%;
                
            }
        }
    }
 }
 }

    .o-shape{
      height: 130%;
    }

 div.scrolldown{
    align-self: center;
    margin-right: 50% ;
 }
  


    //skills section
    .skills-section{
     
        div.row{
            padding: 1.20rem 2rem 1rem 2rem;
            grid-template-columns: repeat(1, 1fr);
            grid-gap: 1.20rem;
            .text-row{
                text-align: left;
            }
        }
        .icon { 
            width: 5.875rem;
            height: 5.25rem;
          }
        .circles{
            width: 100%;
            height: 34rem;
            grid-gap:1rem;
            grid-template-columns: repeat(2, 1fr);
            
         
              .service-wrap{
                width: 170px;
                height: 170px;
                i{
                    font-size: 5rem;
                }
                p{
                    padding-bottom: 1rem;
                    display: collapse;
                    opacity: 0%;
                }
            } 
        }
      
    }
    .portfolio-section{
       
        .portfolios{
            max-width: 23rem;
            padding-bottom: 6rem;
            margin-top: 1rem;
            grid-template-columns: repeat(1, 1fr);
            width: 30rem;
            .portfolio-item{
                img{
                    height: 300px;
                }
            }
        }
    }
    .blogs-section{
        margin: auto;
        .blogss{
            grid-template-columns: repeat(2, 1fr);
            padding-bottom: 6rem;
            max-width: 24rem;
            grid-gap: 1rem;
            .blog{
                padding-bottom: 3rem;
            }
        }
    }

  .contact-me-section{
    
    .contact-content-con{
        display: flex;
        flex-direction: column;
        
        .left-contact{
           width: 60%;
            .contact-info{
                align-items: center;
            }
        }
        
         .right-contact{
            
            width: 60%;
            align-items: center;
        }
    }
    .contact-content-con .right-contact .i-c-2{
        flex-direction: column;
    }
    .contact-content-con .right-contact .i-c-2 :last-child{
        margin-left: 0;
        margin-top: 1.5rem;
    }
    .contact-content-con .right-contact{
        margin-bottom: 6rem;
    }

    .contact-item{
        flex-direction: column;
        margin: 1rem 0;
        p{
            font-size: 15px;
            color: var(--color-grey-2);
        }
        span{
            font-size: 15px;
        }
        .icon{
            grid-template-columns: 25px 1fr;
        }
    }
    .main-title{
        h2{
            font-size: 2rem;
            span{
                font-size: 2.3rem;
            }
            .bg-text{
                font-size: 2.3rem;
            }
        }
    }
    .contact-item{
        flex-direction: column;
        margin: 1rem 0;
        p{
            font-size: 15px;
            color: var(--color-grey-2);
        }
        span{
            font-size: 15px;
        }
        .icon{
            grid-template-columns: 25px 1fr;
        }
    }
}





    }


@media only screen and (max-width: 1432px) and (min-width: 600px)  {
  
    header{
        .starry_sky{
            width: 200%;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
       }
       
        text-align: center;
        .section-home{
            .text-zone{
                .pp{
                    align-items: center;
                    text-align: center;
            }
            }
        }
    }
    .fa-circle-arrow-right{
        display: collapse;
        opacity: 0%;
    }
   .section-about{
         padding: 3rem 1rem 9rem 1rem;
        .rowb{
            margin: 0 0;
            padding: 0rem 0rem;
            width: 40rem;
        }
        .work{
            .media .fa{
                margin-right: 0px;
            }
        }
   }
   .o-shape{
    height: 110%;
   }
   .skills-section{
     margin: 5rem 5rem;
    div.row{
        padding: 1.20rem 2rem 1rem 2rem;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 1.20rem;
        .text-row{
            text-align: left;
        }
    }
    .icon { 
        width: 5.875rem;
        height: 5.25rem;
      }
    .circles{
        width: 100%;
        height: 34rem;
        grid-gap:1rem;
        grid-template-columns: repeat(2, 1fr);
     
          .service-wrap{
            width: 170px;
            height: 170px;
            p{
                display: collapse;
                opacity: 0%;
          }
        } 
    }
  
}
}